*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ContentComponent {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.LineaSelectCont {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}